    .author-container {    
    position: absolute;
    bottom: 0px; /* Adjust the distance from the bottom */
    right: opx; /* Adjust the distance from the left */
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between elements */
    background-color: #f0f0f000; /* Adjust the background color */
    padding: 10px 20px 30px 40px ; /* Adjust padding as needed */
    border-radius: 5px; /* Adjust border radius */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1); /* Add shadow */   
    }
    .p3 {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 20px;
      background-color: #efe4e4; /* Background color */
      color: #100f0f; /* Text color */
    } 
   /* Styling for the author's picture */
    .author-pic img {
     width: 100px; /* Adjust the width of the image */
     height: 100px; /* Adjust the height of the image */
     border-radius: 50%; /* Makes the image circular */
     object-fit: cover;
     }
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #efe4e4; /* Background color */
      color: #111010; /* Text color */
    }
    .image{
      max-width: 100%;
      text-align: center;
      
    }

    /* Style for the image */
    .displayed-image {
      max-width: 100%;
      max-height: 400px;
      padding: 0px 0px 0px 0px;
    }
    /* Container for content */
    .head-container {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 70px;
      box-sizing: border-box;
    }
    .author-container {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 70px;
      box-sizing: border-box;
    }
    .content-container {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px 10px 10px 10px;
      box-sizing: border-box;
    }
    /* Image overlay */
    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(96, 91, 91, 0) 0%, rgba(0,0,0,0.7) 100%), url('img/image1.jpg');
      background-size: contain;
      background-position: center;
      opacity: 0.8; /* Adjust the opacity as needed */
      z-index: -1;
    }
    .justified-text {
      text-align: justify;
    }

    /* Content styling */
    .main-content {
      z-index: 1;
    }

    h1 {
      font-size: 36px;
      line-height: 1.2;
      margin-bottom: 20px;
      color: #efe8e8; /* Text color */
      font-family: 'Arial Black', sans-serif; /* Change the font for h1 */
    }
    h2 {
      color: #4f0d0d; /* Text color */
      font-family: 'Arial Black', sans-serif; /* Change the font for h1 */
    }
    
    h3 {
      color: #efe8e8; /* Text color */
      font-family: 'Arial Black', sans-serif; /* Change the font for h1 */
    }


    p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 20px;
      background-color: #efe4e4; /* Background color */
      color: #100f0f; /* Text color */
    }